*.zip
*.pyc
kanji-colorize-*
colorized-kanji
kanjivg
kanji
/build
/dist
MANIFEST

# Emacs temp files:
*~
.#*
\#*

!/test/kanivg
!/test/kanivg/kanji
!/test/default_results/kanji-colorize-contrast
!/test/default_results/kanji-colorize-spectrum
!/kanjicolorizer/data/kanjivg
