*.zip
*.pyc
kanji-colorize-*
kanjivg
kanji
/build
/dist
MANIFEST
setup.py
venv
.coverage
htmlcov

!/test/kanjivg
!/test/kanjivg/kanji
!/test/default_results/kanji-colorize-contrast
!/test/default_results/kanji-colorize-spectrum
!/kanjicolorizer/data/kanjivg
